@media (max-width: 1199px){
	#header_bottom nav{
		width: 100%;
		float: none;
		max-height: 0;
		overflow: hidden;
		transition:all 0.3s ease-out;
			-webkit-transition:all 0.3s ease-out;
			-moz-transition:all 0.3s ease-out;
	}
}

@media (max-width: 991px){
	.blog-entry h2{
		height: auto;
	}
	.blog-entry{
		margin-bottom: 30px;
	}
	
	.blog-container .col-md-4:last-of-type .blog-entry{
		margin-bottom: 0;
	}

	.blog-image{
		height: auto;
	}

	.blog-entry h2{
		min-height: 0;
	}
}

@media (max-width: 768px){

	.team{
		padding: 20px;
	}


	.accounting-container .main-list li .col-md-4{
		text-align: left;
		padding-top: 20px;
	}

	.accounting-result.drop{
		margin-top: 0px;
	}

	#services-side-column{
		height: auto !important;
	}

	.inner-sidebar.custom-pack.sticky{
		position: relative;
		top: auto;
	}

	.other-services-box{
		margin-bottom: 40px;
	}

	.other-services .col-md-4:last-of-type .other-services-box{
		margin-bottom: 0;
	}
	
	section.blog{
		margin-top: 80px;
	}	
	
	.blog-list-entry img{
		margin-bottom: 20px;
	}

	#noimage_container p{
		font-size: 17px;
	}

	#noimage_container li{
		font-size: 17px;
	}

	.inner-blog p{
		font-size: 17px;
	}

	.inner-blog ul li{
		font-size: 17px;
	}

	.inner-title{
		margin-top:80px; 
	}

	.inner-title h2{
		letter-spacing: 2px;
		font-size: 24px;
	}

	.contact .col-md-4{
		margin-bottom: 40px;
	}

	.contact .col-md-4:last-child{
		margin-bottom: 0;
	}

	.slide-top-layer{
		top: 40%;
	}

	.newsletter h2{
		font-size: 25px;
	}

	.other-services-box h2{
		font-size: 22px;
	}

	.other-services-box p{
		font-size: 18px;
	}

	.page-title h3{
		font-size: 18px;
	}

	.page-title h2{
		font-size: 25px;
	}

	.slide-top-layer h2{
		font-size: 30px;
		padding: 0 10px;
		margin-bottom: 5px;
	}

	.slide-top-layer h3{
		font-size: 19px;
		line-height: 30px;
		padding: 0 10px;
	}

	.slide-top-layer h3 br{
		display: none;
	}

	.slider{
		height: 350px;
		margin-top: 120px;
		padding-top: 0;
	}

	.header-social{
		margin-top: 18px;
	}

	.burger-menu{
		margin-top: 19px;
	}

	.logo img{
		width: 60px;
	}

	.contact-info form{
		margin-bottom: 40px;
	}

	.team-container .col-md-5{
		width: 50%;
	}
	
	#new_slider{
		margin-top: 135px;
	} 

	.owl-item img{
		width: 45%;
	}

	.press-container h2 br{
		display: none;
	}

	#homepage_content{
		padding: 20px 0;
	}

	.funding-box img{
		width: 30% !important;
	}

	.quote-container{
		display: none;
	}

	.feature-box p{
		display: none;
	}

	.feature-box{
		width: 50%;
		height: 250px;
		border-bottom: 1px solid rgba(255,255,255,0.2);
		border-right: 1px solid rgba(255,255,255,0.2);
	}
	.feature-box:last-of-type{
		width: 100%;
	}
	.feature-box-green{
		background:#257bd0; 
	}

	.top-bar{
		display: none;
	}

	.top-bar.top-bar-home{
		display: block;
	}

	header.header{
		top: 0;
	}

	header.header.header-home{
		top: 40px;
	}

	.team-container .col-md-4:nth-child(6n) .team-item{
	margin-bottom: 0px;
	}
	.team-container .col-md-4:nth-child(5n) .team-item{
	margin-bottom: 60px;
	}
	.team-container .col-md-4:nth-child(4n) .team-item{
		margin-bottom: 60px;
	}

}

@media (max-width: 650px){

	.feature-box h3{
		font-size: 17px;
	}
	.feature-box img{
		margin-bottom: 15px;
	}

	.top-bar p{
		display: none;
	}

	.top-bar p:first-child{
		display: block;
		text-align: center;
	}
}

@media (max-width: 480px){
	.side-navigation{
		width: 250px;
		right: -250px;
	}
	
	/*body.active{
		left: -250px;
	}*/
	.dropdownList.active{
		max-height: 510px;
	}
	.header-social{
		display: none;
	}

	.feature-box{
		width: 70%;
		float: none;
		margin: 0 auto 20px auto;
	}

	.feature-box:last-of-type{
		width: 70%;
		float: none;
		margin: 0 auto;
	}

	.slider{
		height: 260px;
	}

	.slider-arrow{
		height: 40px;
		width: 40px;
		line-height: 40px;
		bottom: 15px;
	}

	.page-title{
		padding: 40px 0;
	}

	
}

@media (max-width: 420px){
	.team-container .col-md-5{
		width: 100%;
	}
}