@media (max-width: 1199px){
	#t nav{
		width: 100%;
		float: none;
		max-height: 0;
		overflow: hidden;
		transition:all 0.3s ease-out;
			-webkit-transition:all 0.3s ease-out;
			-moz-transition:all 0.3s ease-out;
	}
}

@media (max-width: 991px){
	.n h2{
		height: auto;
	}
	.n{
		margin-bottom: 30px;
	}
	
	.r .i:last-of-type .n{
		margin-bottom: 0;
	}

	.s{
		height: auto;
	}

	.n h2{
		min-height: 0;
	}
}

@media (max-width: 768px){

	.o{
		padding: 20px;
	}


	.u .a li .i{
		text-align: left;
		padding-top: 20px;
	}

	.f.l{
		margin-top: 0px;
	}

	#c{
		height: auto !important;
	}

	.h.p.d{
		position: relative;
		top: auto;
	}

	.v{
		margin-bottom: 40px;
	}

	.m .i:last-of-type .v{
		margin-bottom: 0;
	}
	
	section.g{
		margin-top: 80px;
	}	
	
	.y img{
		margin-bottom: 20px;
	}

	#b p{
		font-size: 17px;
	}

	#b li{
		font-size: 17px;
	}

	.w p{
		font-size: 17px;
	}

	.w ul li{
		font-size: 17px;
	}

	.x{
		margin-top:80px; 
	}

	.x h2{
		letter-spacing: 2px;
		font-size: 24px;
	}

	.k .i{
		margin-bottom: 40px;
	}

	.k .i:last-child{
		margin-bottom: 0;
	}

	._{
		top: 40%;
	}

	.j h2{
		font-size: 25px;
	}

	.v h2{
		font-size: 22px;
	}

	.v p{
		font-size: 18px;
	}

	.q h3{
		font-size: 18px;
	}

	.q h2{
		font-size: 25px;
	}

	._ h2{
		font-size: 30px;
		padding: 0 10px;
		margin-bottom: 5px;
	}

	._ h3{
		font-size: 19px;
		line-height: 30px;
		padding: 0 10px;
	}

	._ h3 br{
		display: none;
	}

	.z{
		height: 350px;
		margin-top: 120px;
		padding-top: 0;
	}

	.te{
		margin-top: 18px;
	}

	.tt{
		margin-top: 19px;
	}

	.tn img{
		width: 60px;
	}

	.tr form{
		margin-bottom: 40px;
	}

	.ti .ts{
		width: 50%;
	}
	
	#to{
		margin-top: 135px;
	} 

	.tu img{
		width: 45%;
	}

	.ta h2 br{
		display: none;
	}

	#tf{
		padding: 20px 0;
	}

	.tl img{
		width: 30% !important;
	}

	.tc{
		display: none;
	}

	.th p{
		display: none;
	}

	.th{
		width: 50%;
		height: 250px;
		border-bottom: 1px solid rgba(255,255,255,0.2);
		border-right: 1px solid rgba(255,255,255,0.2);
	}
	.th:last-of-type{
		width: 100%;
	}
	.tp{
		background:#257bd0; 
	}

	.td{
		display: none;
	}

	.td.tv{
		display: block;
	}

	header.tm{
		top: 0;
	}

	header.tm.tg{
		top: 40px;
	}

	.ti .i:nth-child(6n) .ty{
	margin-bottom: 0px;
	}
	.ti .i:nth-child(5n) .ty{
	margin-bottom: 60px;
	}
	.ti .i:nth-child(4n) .ty{
		margin-bottom: 60px;
	}

}

@media (max-width: 650px){

	.th h3{
		font-size: 17px;
	}
	.th img{
		margin-bottom: 15px;
	}

	.td p{
		display: none;
	}

	.td p:first-child{
		display: block;
		text-align: center;
	}
}

@media (max-width: 480px){
	.tb{
		width: 250px;
		right: -250px;
	}
	
	/*body.active{
		left: -250px;
	}*/
	.tw.tx{
		max-height: 510px;
	}
	.te{
		display: none;
	}

	.th{
		width: 70%;
		float: none;
		margin: 0 auto 20px auto;
	}

	.th:last-of-type{
		width: 70%;
		float: none;
		margin: 0 auto;
	}

	.z{
		height: 260px;
	}

	.tk{
		height: 40px;
		width: 40px;
		line-height: 40px;
		bottom: 15px;
	}

	.q{
		padding: 40px 0;
	}

	
}

@media (max-width: 420px){
	.ti .ts{
		width: 100%;
	}
}